Repository Emerson1337/clean-architecture-nestjs: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:backend, npm run testBackend:staged, npm run testFrontend:staged

.lintstagedrc.json:

{
  "./backend/**/*.ts": ["npm run lint:backend", "npm run testBackend:staged"],
  "./frontend/**/*.ts": ["npm run testFrontend:staged"]
}

🩹 Fix bug on coffee object
  frontend/src/app/coffees/presentation/pages/CoffeePage.tsx
Due: none

🍱 Add a template asset
  frontend/public/assets/image.png
Due: none

✨ Add spinner for load purposes
  frontend/src/app/interface/presentation/components/Spinner.tsx
  frontend/src/app/interface/presentation/pages/Navbar.tsx
Due: none

✨ Add teas list screen
  frontend/public/assets/imagetea.png
Due: none

♻️ Add path menu buttons in a variable shared
  frontend/src/shared/contants/menuPaths.ts
Due: npm run testFrontend:staged

✨ Add tea listing
  frontend/src/app/teas/presentation/components/TeaCard.tsx
  frontend/src/app/teas/presentation/pages/TeaPage.tsx
  frontend/src/core/styles/globals.css
Due: none

💄 Add spinner loader fake
  frontend/src/pages/teas.tsx
Due: none

🦺 Add type validation for coffee
  backend/src/application/dtos/create-product-dto.ts
  backend/src/application/use-cases/coffee/coffee.service.ts
Due: npm run lint:backend, npm run testBackend:staged

✅ Test validation based on coffee type
  backend/src/application/use-cases/coffee/coffee.spec.ts
Due: npm run lint:backend, npm run testBackend:staged

🗃️ Add new column and migration for types on coffee
  backend/src/domain/entities/coffee.entity.ts
  backend/src/infra/database/typeorm/migrations/1685761186939-CreateCoffeesTable.ts
Due: npm run lint:backend, npm run testBackend:staged

🤡 Fix factory coffee for tests and add validator
  backend/src/application/use-cases/coffee/mocks/factories.ts
  backend/src/domain/validators/product.validator.ts
Due: npm run lint:backend, npm run testBackend:staged

🔒️ Allow cors on API
  backend/src/main.ts
Due: npm run lint:backend, npm run testBackend:staged

➕ Add axios and dotenv for react
  frontend/package-lock.json
  frontend/package.json
Due: none

🙈 Remove .env from git
  frontend/.gitignore
Due: none

🔒️ Allow access for different images
  frontend/next.config.js
Due: none

🔐 Add .env.example as an example
  frontend/.env.example
Due: none

✨ Add fetch functions to consume API
  frontend/src/app/coffees/application/fetchCoffeeService.ts
  frontend/src/app/coffees/domain/coffee.ts
  frontend/src/app/coffees/infrastructure/coffee.facade.ts
  frontend/src/app/coffees/infrastructure/coffee.mapper.ts
  frontend/src/app/coffees/presentation/components/CoffeeCard.tsx
  frontend/src/app/coffees/presentation/pages/CoffeePage.tsx
  frontend/src/pages/coffees.tsx
Due: npm run testFrontend:staged

✨ Add fetch functions to consume API teas
  frontend/src/app/teas/application/fetchTeaService.ts
  frontend/src/app/teas/domain/tea.spec.ts
  frontend/src/app/teas/domain/tea.ts
  frontend/src/app/teas/infrastructure/tea.facade.ts
  frontend/src/app/teas/infrastructure/tea.mapper.spec.ts
  frontend/src/app/teas/infrastructure/tea.mapper.ts
  frontend/src/app/teas/presentation/pages/TeaPage.tsx
Due: npm run testFrontend:staged

✨ Add fetch functions to consume API teas
  frontend/src/pages/teas.tsx
Due: none

👽️ Configure API service
  frontend/src/services/config/apiConfig.ts
  frontend/src/shared/contants/apiAddresses.ts
  frontend/src/shared/lib/routes/apiUrls.ts
Due: npm run testFrontend:staged
